body {
  font-family: Verdana, sans-serif;
  color: white;
  text-align: center;
  background-color: black;
}

h1 {
  font-family: Verdana, san-serif;
  font-size: 50px;
  font-weight: Normal;
  color: white;
  text-align: center;
}

.link {
  color: aquamarine;
  font-weight: 16px;
  font-weight: 100;
}

video {
  object-fit: contain;
}
